<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Cazadores de Talento</title>
</head>
<body>
    <div class="header">
        <h1 id="title">Cazadores de Talento</h1>
        <ul class="nav">
            <li><a href="/">Proyectos</a></li>
            <li>|</li>
            <li><a href="/proveedores">Proveedores</a></li>
        </ul>
        <a href="/registerProject">Registrar nuevo proyecto</a> 
    </div>

    <div id="hunter-registration">
        <form>
            <h3>Filtros de búsqueda</h3>
            <label>Nombre de cazador</label>
            <select id="names">
                <option value="name 1">name 1</option>
                <option value="name 2">name 2</option>
                <option value="name 3">name 3</option>
                <option value="name 4">name 4</option>
                <option value="name 5">name 5</option>
            </select>
            <label> Tipos de proyecto</label>
            <select id="giros">
                <option value="type 1">type 1</option>
                <option value="type 2">type 2</option>
                <option value="type 3">type 3</option>
                <option value="type 4">type 4</option>
                <option value="type 5">type 5</option>
            </select>
            <label >Proyectos disponibles</label>
            <select id="">
                <option value="proyecto 1">proyecto 1</option>
                <option value="proyecto 2">proyecto 2</option>
                <option value="proyecto 3">proyecto 3</option>
                <option value="proyecto 4">proyecto 4</option>
                <option value="proyecto 5">proyecto 5</option>
            </select>
            <input id="filter" type="submit" value="Filtrar">
        </form>
    </div>
    <div class="main-content">
        <h2>Lista de proyectos disponibles</h2>
        <div class="available-project">
            <p class="project-name"><%= title.project1.title %></p>
            <p class="description"><span>Descripción:</span>
                Aenean scelerisque sapien nibh, ac tristique odio mollis a. Aenean eget pharetra dolor. Donec malesuada est vel viverra eleifend. Duis varius luctus lacus in aliquet. Sed sit amet lectus rutrum, viverra quam nec, iaculis felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis congue dolor, sed imperdiet risus. Ut posuere nisi at tincidunt congue.
            </p>
            <p>
                <span>Registrado por: </span>
                <a href="/perfilCazador"><%= registro[0] %></a>
            </p>
            <button class="apply"type="submit">
                <a href="/proyectInscription">Inscribirse</a>
            </button>
        </div>
        <div class="available-project">
            <p class="project-name"><%= title.project2.title %></p>
            <p class="description"><span>Descripción:</span>
                Aenean scelerisque sapien nibh, ac tristique odio mollis a. Aenean eget pharetra dolor. Donec malesuada est vel viverra eleifend. Duis varius luctus lacus in aliquet. Sed sit amet lectus rutrum, viverra quam nec, iaculis felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis congue dolor, sed imperdiet risus. Ut posuere nisi at tincidunt congue.
            </p>
            <p>
                <span>Registrado por: </span>
                <a href="/perfilCazador"><%= registro[1] %></a>
            </p>
            <button class="apply"type="submit">
                <a href="/proyectInscription">Inscribirse</a>
            </button>
        </div>
        <div class="available-project">
            <p class="project-name"><%= title.project3.title %></p>
            <p class="description"><span>Descripción:</span>
                Aenean scelerisque sapien nibh, ac tristique odio mollis a. Aenean eget pharetra dolor. Donec malesuada est vel viverra eleifend. Duis varius luctus lacus in aliquet. Sed sit amet lectus rutrum, viverra quam nec, iaculis felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis congue dolor, sed imperdiet risus. Ut posuere nisi at tincidunt congue.
            </p>
            <p>
                <span>Registrado por: </span>
                <a href="/perfilCazador"><%= registro[2] %></a>
            </p>
            <button class="apply"type="submit">
                <a href="/proyectInscription">Inscribirse</a>
            </button>
        </div>
    </div>
</body>
</html>